:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  color-scheme: light dark;
  color: whitesmoke;
  background-color: #242424;
  scroll-behavior: smooth;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

body {
  margin: 0;
  display: grid;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.app {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

section {
  display: grid;
  justify-content: center;

  height: 100vh;
  padding-top: 2em;
}

p,
h1,
a,
nav,
img {
  outline: none;
}

nav {
  position: fixed;
  width: 100%;
  z-index: 1;

  height: 4em;

  background-color: rgb(30, 30, 30);
  filter: drop-shadow(0 0 0.2em white);

  a {
    text-transform: capitalize;
    color: whitesmoke;

    will-change: filter;
    transition: filter 300ms;
  }

  a:hover {
    filter: drop-shadow(0 0 1em white);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: black;
    background-color: whitesmoke;
  }

  nav {
    background: whitesmoke;
    filter: drop-shadow(0 0 0.2em black);

    a {
      color: black;
    }
  }
}
